body {
    background-color: black;
    color: white;

}
 h1, h2 {
    font-family: 'Ysabeau Office', sans-serif;
    color: white;
}

.header {
    height: 35vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #000730;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
}

.header > h1 {
    color: white;
    font-size: 34px;
    font-family: 'Lobster', sans-serif;
}

.nav {
    margin-top: 0px;
    margin-left: 0px;
    margin-left: 0px;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d7d7d762;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
}


.nav > ul {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    list-style: none;
    padding: .3rem;
}

.nav > ul > li {
    padding: 45px 45px 45px 45px ;
    text-align: center;
    width: 100%;
}

.nav > ul > li > a {
    
    padding: 15px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: white;
}

#botaodif{
    font-family: 'Nunito', serif;
    align-items: center;
    font-display: center;
    color: #ffffff;
    margin: 5px;
    text-decoration: none;
    padding: 15px 25px;
    background-color: #000730;
    font-size: .9em;
    border-radius: 10px;

}

#botao {
    font-family: 'Nunito', serif;
    align-items: center;
    font-display: center;
    color: #ffffff;
    margin: 5px;
    text-decoration: none;
    padding: 15px 25px;
    background-color: #000000;
    font-size: .9em;
    border-radius: 20px;
    transition: all 0.5s;
}

#botao:hover {
    border-radius:14px;
    background-color: #000730;
    color: #ffffff;
}

#botao:hover{
    border-radius:14px;
    background-color: #000730;
    color: #ffffff;
}

.fundo{
    justify-content: center;
    align-items:center;
    background-repeat: no-repeat;
    height: 120vh;
    width: 100%;
    background-image: url(../img/fundobranco.jpg);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}




.contatos{
    
    margin-left: 26vw;
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 10px;
    width: 100vh;
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 20px;
    justify-content: center;

}



.contatos > p {
   
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-size: larger;
    margin: 0px;
    text-align: center;
    font-family: 'Lobster';
    color: #000000;
    text-decoration: none;
    

}

.tel {

    margin-top: 5vh;
    padding: 3vh;
    display: flex;
    flex-direction: row;
    align-items:center;

}
.tel >p>a {
    padding: 20px 20px;
    text-decoration: none;
    color: #000000;
}





.wpp {
    padding: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.wpp >p>a {
    padding: 20px 20px;
    text-decoration: none;
    color: #000000;
}

.fc {
    padding: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.fc >p>a {
    padding: 20px 20px;
    text-decoration: none;
    color: #000000;
}


.ig {
    padding: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.ig >p>a {
    padding: 22px 22px;
    text-decoration: none;
    color: #000000;
}

.mail{
    margin-left: 5.5vw;
    padding: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.mail >p>a {
    padding: 20px 20px;
    text-decoration: none;
    color: #000000;
}

.text {
    margin-top: 5vh;
    font-family: 'Lobster';
    font-size: larger;
    color: #000000;
}


.footer {

    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    padding: 10px;
}

.footer >p {
    font-family: 'Ysabeau Office', serif;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000730;
    font-family: 'Ysabeau Office', serif;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.chat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 30px;
    background-color: #00000065;
    width: 300px;
    border-radius: 18px;
    box-shadow: rgb(0, 40, 83) 0px 20px 30px -10px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;  
}

.form >label {
    font-family: 'Nunito', serif;
    color: white;
    font-size: 17px;
    margin-bottom: 4px;
}

.form > input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;

}

.form > input:focus {
    border-radius:16px;
}

.form > textarea {
    font-family: 'Nunito', serif;
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}

.form > textarea:focus {
    border-radius:16px;
}


.form > h2{
    color: white;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    text-align: center;
    
}

#botao2 {
    cursor: pointer;
    font-family: 'Nunito', serif;;
    align-items: center;
    font-display: center;
    color: #000730;
    margin: 5px;
    text-decoration: none;
    padding: 10px 25px;
    background-color: #ffffff;
    font-size: .9em;
    border-radius: 10px;
    transition: all 1s;
    
}

#botao2:hover{
    border-radius:16px;
    background-color: #000730;
    color: #ffffff;
}
