body {
    background-color: black;
    color: white;
}
h1, h2 {
    font-family: 'Ysabeau Office', sans-serif;
    color: white;
}

.header {
    height: 35vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #000730;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.header > h1 {
    color: white;
    font-size: 34px;
    font-family: 'Lobster', sans-serif;
}

.nav {
    height: 15vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d7d7d762;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.nav > ul {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    list-style: none;
    padding: .3rem;
}

.nav > ul > li {
    padding: 45px 45px 45px 45px ;
    text-align: center;
    width: 100%;
}

.nav > ul > li > a {
    
    padding: 15px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: white;
}

#botaodif{
    font-family: 'Nunito', serif;
    align-items: center;
    font-display: center;
    color: #ffffff;
    margin: 5px;
    text-decoration: none;
    padding: 15px 25px;
    background-color: #000730;
    font-size: .9em;
    border-radius: 10px;
    transition: all 0.5s;
}

#botao2 {
    font-family: 'Nunito', serif;;
    align-items: center;
    font-display: center;
    color: #000000;
    margin: 5px;
    text-decoration: none;
    padding: 10px 25px;
    background-color: #ffffff;
    font-size: .9em;
    border-radius: 20px;
    transition: all 0.5s;
}

#botao2:hover{
    border-radius:14px;
    background-color: #000000;
    color: white;
}

#botao {
    font-family: 'Nunito', serif;
    align-items: center;
    font-display: center;
    color: #ffffff;
    margin: 5px;
    text-decoration: none;
    padding: 15px 25px;
    background-color: #000000;
    font-size: .9em;
    border-radius: 20px;
    transition: all 0.5s;
}

#botao:hover{
    border-radius:14px;
    background-color: #000730;
    color: #ffffff;
}

#botao3 {
    font-family: 'Nunito', serif;
    align-items: center;
    font-display: center;
    color: #ffffff;
    margin: 5px;
    text-decoration: none;
    padding: 10px 25px;
    background-color: #000000;
    font-size: .9em;
    border-radius: 20px;
    transition: all 0.5s;
}

#botao3:hover{
    border-radius:20px;
    background-color: #ffffff;
    color: #000000;
}

.fundo{
    
    background-repeat: no-repeat;
    height: 120vh;
    width: 100%;
    background-image: url(../img/fundohomimuie.jpg);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.sobre {
    margin-top: 65vh;
    background-color: rgba(0, 2, 55, 0.3);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.sobre>h2{
    font-family: 'Lobster', sans-serif;

}
.sobre>p{
    font-size: larger;
    font-family: 'Ysabeau Office', serif;
    text-align: center;
}


.trabalhos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.trabalhos > h2{
    font-family: 'Lobster', sans-serif;;
    margin-bottom: 20px;
}

.trabalhos > p{
    font-size: larger;
    font-family: 'Ysabeau Office', serif;
    margin-bottom: 2.5em;
    max-width: 1000px;
}
.trabalhos > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
}
.trabalhos img {
    width: 33.3333333%;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s ease;

}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato >h2{
    font-family: 'Lobster', sans-serif;  
}

.footer {

    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    padding: 10px;
}

.footer >p {
    font-family: 'Ysabeau Office', serif;
}

